/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

h1, h2, h3 {
    text-align: center;
}

/* Header Styles */
.header {
    /* background-color: #1ba720; */
    background-image: url('imagens/photo.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    color: white;
    padding: 20px 0;
    text-align: center;
}

.header h1 {
    font-size: 2.5rem;
}

.header p {
    font-size: 1.2rem;
}

/* Navigation Styles */
.navbar {
    background-color: #333;
    padding: 10px 0;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.navbar ul li {
    margin: 0 15px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.navbar ul li a:hover {
    text-decoration: underline;
}

/* Services Section */
.services {
    padding: 40px 20px;
    text-align: center;
}

.services h2 {
    margin-bottom: 30px;
    font-size: 2rem;
}

.services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.service-box {
    background-color: white;
    padding: 20px;
    margin: 10px;
    border: 1px solid #ddd;
    width: 22%;
    min-width: min-content;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.service-box h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.service-box p {
    font-size: 1rem;
    color: #555;
}

/* Footer Styles */
.footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.footer p {
    font-size: 1rem;
}
